*,
::before,
::after {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}

.space {
    background-image: url("../imgs/space.png");
    height: 100%;
}

.planet-area {
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.planet {
    position: absolute;
    bottom: -1em;
    width: 75%;
}

.rocket {
    position: relative;
    width: 20%;
    bottom: -63%;
    left: 40%;
    z-index: 2;
    transform: rotate(25deg);
}

.control-panel {
    position: absolute;
    background-color: gray;
    width: 25%;
    left:50%;
    top: 50%;
    text-align: center;

    padding: 0.75rem;

    background-color: yellow;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(0,0,0,.9) 20px, rgba(0,0,0,1) 40px);
}

.control-panel__inner {
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.control-panel__inner input {
    margin-top: 1rem;
}

.launchPassword, .launchSubmit {
    border: 2px solid red;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    font-size: 1.2rem;
}

.check-buttons {
    display: flex;
    justify-content: space-evenly;
}

.levers {
    display: flex;
    justify-content: space-evenly;
}

.levers input[type="range"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 50%;
 }

.launchButton {
    margin-bottom: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    background-color: darkred;
    color: white;
}